# wildcards
*~
.DS_Store*
*.swp
.nfs*

# /
/doc
/tmp
/autom4te.cache
/aclocal.m4
/configure
/configure.scan
/config.log
/config.status
/config.h
/config.h.in
/gitversion.h
/Makefile
/Makefile.in
/stamp-h1
/flowlog-*
/*.pcap
/cscope.out
/*.kdev4
/build-aux

# /src/
/src/new
/src/Makefile
/src/Makefile.in
/src/flowgrind
/src/flowgrindd
/src/flowgrind-stop
/src/.deps
/src/.nfs*
/src/*.o
