Source: flowgrind
Section: net
Priority: extra
Maintainer: Christian Samsel <christian.samsel@rwth-aachen.de>
Build-Depends: debhelper (>= 7), cdbs, autotools-dev, libxmlrpc-c3-dev, libcurl4-gnutls-dev, libgsl0-dev, libpcap-dev 
Standards-Version: 3.8.3
Homepage: http://launchpad.net/flowgrind/
Vcs-Git: git://github.com/flowgrind/flowgrind.git
Vcs-Browser: https://github.com/flowgrind/flowgrind

Package: flowgrind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Distributed network performance measurement tool
 Flowgrind is a tool similar to iperf, netperf to measure
 throughput and other metrics for TCP.
 Using the flowgrind controller, flows between any two machines
 running the flowgrindd daemon can be created.

Package: flowgrind-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Debugging version of flowgrind
 This package contains debugging symbols for flowgrind, a
 distributed network performance measurement tool.
